{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title> FORMS </title>
</head>
<body>
	<h1> HTML FORMS </h1>
	<form>
		<fieldset>
			<legend> LOGIN HERE </legend>
			<table>
				<tr>
					<td><label> USERNAME</label></td>
					<td>
						<input type="text"/>
					</td>
				</tr>
				<tr>
					<td><label>PASSWORD</label></td>
					<td>
						<input type="PASSWORD"/>
					</td>
				</tr>
				<tr>
					<td colspan="2" align="center">
						<input type="SUBMIT"/>
						<input type="RESET"/>
					</td>
				</tr>
			</table>
		</fieldset>
	</form>
</body>
</html>
