{% load static %}
<!DOCTYPE html>
<html>
<head>
	
	<title> Css style selector</title>
	<style>
		h1[align="left"],h2,.learn,#srujana
		{
			color: red;
		}
	</style>
</head>
<body>
	<h1 align="left">Css style selector</h1>
	<h1 align="center">Css style selector</h1>
	<h1 align="right">Css style selector</h1>
	<h2> Css style selector</h2>
	<h3> Srujana Thinava ra!!</h3>
	<h3 id="Srujana">Srujana Thinava ra!!</h3>
	<h4 class="learn">Learn</h4>
	<h4>Learn</h4> 
	<h4 class="learn">Learn</h4>

</body>
</html>