{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title> HTML TABLES </title>
</head>
<body>
	<h1> Jspiders info </h1>
	<table border="2px" cellpadding="20px" cellspacing="10px">
		<thead>
			
			<tr>
				<th> EMPID</th>
				<th> EMPNAME</th>
				<th> EMP DES</th>
				<th> EMP SAL</th>
				<th> EMP ORG</th>

			 </tr>
			
		</thead>
		<tr>
			<td> JSD101 </td>
			<td> Pranay </td>
			<td> python trainer</td>
			<td> 80000</td>
			<td> mmmm</td>
		</tr>
		<tr>
			<td> JSD102 </td>
			<td> jyoshna </td>
			<td> SQL trainer</td>
			<td> 70000</td>
			<td> mnhfr</td>
		</tr>
		<tr>
			<td> JSD103 </td>
			<td> santosh </td>
			<td> python trainer</td>
			<td> 90000</td>
			<td> mjhy</td>
		</tr>
		<tr>
			<td> JSD104 </td>
			<td> kishor </td>
			<td> Html trainer</td>
			<td> 60000</td>
			<td> mknkn</td>
		</tr>
	</table>
</body>
</html> 


